<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IUserService" openTimeout="00:01:00" closeTimeout="00:01:00" sendTimeout="00:01:00" receiveTimeout="00:01:00" />
        <binding name="BasicHttpBinding_ILeagueDBService" openTimeout="00:01:00" closeTimeout="00:01:00" sendTimeout="00:01:00" receiveTimeout="00:01:00"/>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_ILeagueDBService">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <!--<endpoint address="net.tcp://144.91.113.195:505/Service.svc"
          binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILeagueDBService"
          contract="LeagueDBServiceRef.ILeagueDBService" name="NetTcpBinding_ILeagueDBService" />-->
      <endpoint address="http://localhost:8733/Design_Time_Addresses/UserDBService/Service1/" 
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserService" 
                contract="UserDBServiceRef.IUserService" name="BasicHttpBinding_IUserService" />
      <!--<endpoint address="http://localhost:8733/Design_Time_Addresses/LeagueDBService/DataTransfer/" 
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILeagueDBService" 
                contract="LeagueDBServiceRef.ILeagueDBService" name="BasicHttpBinding_ILeagueDBService" />-->
      <endpoint address="net.tcp://vmd48609:505/Service.svc"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILeagueDBService"
                contract="LeagueDBServiceRef.ILeagueDBService" name="NetTcpBinding_ILeagueDBService" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper.Extensions.ExpressionMapping" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.5.0" newVersion="3.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>