<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ILeagueDBService" />
        <binding name="BasicHttpBinding_IUserService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/LeagueDBService/DataTransfer/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILeagueDBService"
        contract="LeagueDBServiceRef.ILeagueDBService" name="BasicHttpBinding_ILeagueDBService" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/UserDBService/Service1/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserService"
        contract="UserDBServiceRef.IUserService" name="BasicHttpBinding_IUserService" />
    </client>
  </system.serviceModel>
</configuration>