<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="8.0.0" targetFramework="net461" />
  <package id="AutoMapper.Collection" version="5.0.0" targetFramework="net461" />
  <package id="AutoMapper.Collection.EntityFramework" version="5.0.0" targetFramework="net461" />
  <package id="AutoMapper.Extensions.ExpressionMapping" version="1.0.0" targetFramework="net461" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>