<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="8.1.1" targetFramework="net461" />
  <package id="AutoMapper.Collection" version="5.0.0" targetFramework="net461" />
  <package id="AutoMapper.Collection.EntityFramework" version="5.0.0" targetFramework="net461" />
  <package id="AutoMapper.Extensions.ExpressionMapping" version="1.0.0" targetFramework="net461" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
</packages>