<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="9.0.0" targetFramework="net461" />
  <package id="AutoMapper.Collection" version="6.0.0" targetFramework="net461" />
  <package id="AutoMapper.Collection.EntityFramework" version="6.0.0" targetFramework="net461" />
  <package id="AutoMapper.Extensions.ExpressionMapping" version="3.0.5" targetFramework="net461" />
  <package id="EntityFramework" version="6.4.0" targetFramework="net461" />
</packages>